:root {
	--c-primary-hue: 220;
	--c-primary-saturation: 30%;
	
	--greyHue: 220;
  --greySaturation: 10%;

	--colorLightnessIncrement: 14%;
	
/*	--c-primary-hue: 208;
	--c-primary-saturation: 13%;
	--c-primary-lightness: 42%;*/

	--chatHorzontalPadding: var(--space-xl);
}

@media (max-width: 720px) {
	:root {
		--chatHorzontalPadding: var(--space-l);		
	}
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: var(--c-grey-1);
	margin: 0;
	font-family: var(--fontFamily);
	font-size: var(--fontSize-s);
	line-height: var(--lineHeight-s);
	color: var(--c-grey-6);
	font-family: 'Arimo', sans-serif;
}

html, body {
	height: 100%;
}

img {
	max-width: 100%;
}

.mainContainer {
	display: flex;
	height: 100%;
}

.sidebarSection {
	background-color: white;
	width: var(--space-3xl);
	overflow: auto;
	flex-shrink: 0;
}

.userListItem {
	padding: 0 var(--space-l);
	height: calc(var(--unit) * 10);
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--c-grey-1);
	position: relative;
}

.userListItem--active {
	background-color: var(--c-primary-2xlight);
}

.userListItem--active .userName {
	color: var(--c-primary-dark);
}

.userListItem--active .messagePreview {
	color: var(--c-primary-dark);
}

.userListItem--unread .userName {
	font-weight: var(--fontWeight-700);
}

.userListItem--unread .messagePreview {
	color: var(--c-grey-6);
	padding-right: calc(var(--unit) * 2);
	font-weight: var(--fontWeight-700);
}

.userListItem--unread:after {
	content: "2";
	background-color: var(--c-primary-2xlight);
	color: var(--c-primary-xdark);
	width: calc(var(--unit) * 3);
	height: calc(var(--unit) * 3);
	border-radius: 50%;
	display: block;
	flex-shrink: 0;
	font-size: var(--fontSize-xs);
	line-height: var(--lineHeight-xs);
	position: absolute;
	right: var(--space-m);
	display: flex;
	align-items: center;
	justify-content: center;
}

.userPreview {
	display: flex;
	align-items: center;
	max-width: 100%;
}

.avatarImage {
	display: block;
	width: calc(var(--unit) * 5);
	height: calc(var(--unit) * 5);
	border-radius: 50%;
	filter: grayscale(100%);
}

.userPreview .avatarImage {
	margin-right: var(--space-m);
}

.messagePreview {
	font-family: var(--fontFamily);
	font-size: var(--fontSize-xs);
	line-height: var(--lineHeight-xs);
	color: var(--c-grey-4);
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.chatInfo {
	min-width: 0;
}

.mainSection {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.messages {
	width: 100%;
	overflow: auto;
  padding: var(--chatHorzontalPadding);
	max-height: 100%;
}

.messagesContainer {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
  height: 100%;
}

.messageBox {
	--minHeight: calc(var(--unit) * 6);
	--lineHeight: var(--lineHeight-s);
	--verticalPadding: calc((var(--minHeight) - var(--lineHeight)) / 2);

	background-color: white;
	padding: var(--verticalPadding) var(--space-m);
	min-height: var(--minHeight);
	display: inline-flex;
	align-items: center;
	margin-top: calc(var(--unit) / 2);
	margin-left: calc(var(--unit) * 6);
	max-width: 75%;
}

.avatarImage + .messageBox {
	margin-left: var(--space-s);	
}

.messageRow {
	display: flex;
	align-content: center;
}

.messageRow--outcoming {
	justify-content: flex-end;
}

.messageRow--outcoming .messageBox {
	background-color: var(--c-primary);
	color: var(--c-primary-2xlight);
}

.messageRow--outcoming + .messageRow--incoming {
	margin-top: var(--space-l);
}

.messageRow--incoming + .messageRow--outcoming {
	margin-top: var(--space-l);
}

.messageFormSection {
	flex-shrink: 0;
	padding: var(--space-l) var(--chatHorzontalPadding);
	border-top: 1px solid var(--c-grey-2);
}

.messageField {
	width: 100%;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	font-size: var(--fontSize-s);
	line-height: var(--lineHeight-s);
	padding: 0;
	height: calc(var(--unit) * 5);
	caret-color: var(--c-primary);
}

.messageField:focus {
	outline: none;
}

::-webkit-input-placeholder { color: var(--c-grey-4) }
::-moz-placeholder { color: var(--c-grey-4) }
:-ms-input-placeholder { color: var(--c-grey-4) }
:-moz-placeholder { color: var(--c-grey-4) }


@media (max-width: 720px) {
	.sidebarSection {
		width: auto;
	}

	.chatInfo {
		display: none;
	}

	.userListItem {
		padding: 0 10px;
		height: calc(var(--unit) * 8);
	}

	.userPreview .avatarImage {
		margin-right: 0;
	}

	.messageFormSection {
		padding: var(--space-m) var(--chatHorzontalPadding);
	}

	.userListItem--unread:after {
		top: var(--space-s);
		right: var(--space-s);
	}

	.messageBox {
		max-width: 100%;
	}
}