:root {
  --greyHue: 215;
  --greySaturation: 10%;

  --c-body: var(--c-grey-8);
  --c-background: white;

  --greyscaleLightnessIncrement: 10.2%;
  --c-grey-9: hsl(var(--greyHue), var(--greySaturation), calc(var(--initialGreyLightness) - var(--greyscaleLightnessIncrement) * 8));
  
  --darkThemeBackground: var(--c-grey-9);
  --darkThemeBodyColor: var(--c-grey-4);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontFamily);
  font-size: var(--fontSize-s);
  line-height: var(--lineHeight-s);
  margin: unset;
  padding: var(--space-xl);
  background-color: var(--c-background);
  color: var(--c-body);
}

@media (max-width: 720px) {
  body {
    padding: var(--space-l);
  }
}

a {
  color: var(--c-primary);
  font-weight: bold;
  text-underline-position: under;
}

.demo-space {
  background-color: var(--c-primary);
  height: var(--space-l);
}

.demo-spaceframeOuter {
  background-color: var(--c-primary);
  display: inline-block;
}

.demo-spaceframeInner {
  background-color: var(--c-grey-8);
  width: var(--space-l);
  height: var(--space-l);
}

.demo-spacerWrapper {
  background-color: var(--c-primary);
  display: inline-block;
}

.demo-spacer {
  background-color: var(--c-grey-8);
  width: var(--space-l);
  height: var(--space-l);
}

.demo-sectionTitle {
  color: var(--c-primary);
  font-size: var(--fontSize-l);
  line-height: var(--lineHeight-l);
  font-weight: var(--fontWeight-700);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-m);
}

.demoColors,
.demoColors--gap-s {
  display: flex;
}

.demoColors--gap-s > * {
  margin-right: var(--space-s);
}

.demo-colorBox {
  width: var(--space-l);
  height: var(--space-l);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.demo-bg {
  background-color: var(--c-primary);
}

.demo-border {
  box-shadow: inset 0 0 0 1px var(--c-primary);
}

code {
  background-color: var(--c-grey-1);
  color: var(--c-grey-5);
  padding: var(--spaceframe-l);
  display: block;
  font-family: "SFMono-Regular", monospace;
  overflow: auto;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

.codeSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space-s);
  margin-top: var(--space-m);
}

.codeSection + .codeSection {
  margin-top: var(--space-l);
}

.codeSection--columns-1 {
  grid-template-columns: 100%;
}

@media (max-width: 720px) {
  .codeSection {
    grid-template-columns: 100%;
  }
}

.codeContainer {
  max-width: 100%;
}

.codeContainerTitle {
  color: var(--c-grey-4);
  margin-bottom: var(--space-s);
}

.introSection {
  margin-bottom: var(--space-2xl);
}

.introTitle {
  margin-top: 0;
  margin-bottom: var(--space-l);
  font-size: var(--fontSize-s);
  line-height: var(--lineHeight-s);
}

.logo {
  font-size: 19.5vw;
  letter-spacing: -0.06em;
  text-indent: -0.06em;
  font-weight: bold;
  line-height: 0.4em;
  padding-bottom: 0.4em;
}

.logo-container {
  margin-top: var(--space-m);
  max-width: 46vw;
}

.logo-container svg {
  width: 100%;
  height: auto;
  display: block;
}

.logo-container svg path {
  fill: var(--c-body);
}

.docsSection {
  margin-bottom: var(--space-2xl);
}

.subsectionTitle {
  font-size: var(--fontSize-l);
  line-height: var(--lineHeight-l);
  margin-top: var(--space-xl);
  margin-bottom: 0;
}

.sectionTitle {
  font-size: var(--fontSize-xl);
  line-height: var(--lineHeight-xl);
  margin-bottom: 0;
}

.subsectionDescription {
  margin-top: var(--space-m);
  margin-bottom: 0;
}

.demoSection {
  margin-top: var(--space-l);
  padding-bottom: var(--space-s);
  overflow: auto;
}

.distribute {
  display: flex;
}

.distribute--gap-s.distribute--orientation-horizontal > *:not(:last-child) {margin-right: var(--space-s)}
.distribute--gap-m.distribute--orientation-horizontal > *:not(:last-child) {margin-right: var(--space-m)}
.distribute--gap-l.distribute--orientation-horizontal > *:not(:last-child) {margin-right: var(--space-l)}
.distribute--gap-xl.distribute--orientation-horizontal > *:not(:last-child) {margin-right: var(--space-xl)}

.distribute--gap-s.distribute--orientation-vertical > *:not(:last-child) {margin-bottom: var(--space-s)}
.distribute--gap-m.distribute--orientation-vertical > *:not(:last-child) {margin-bottom: var(--space-m)}
.distribute--gap-l.distribute--orientation-vertical > *:not(:last-child) {margin-bottom: var(--space-l)}
.distribute--gap-xl.distribute--orientation-vertical > *:not(:last-child) {margin-bottom: var(--space-xl)}

.distribute--alignment-start {align-items: flex-start}
.distribute--alignment-center {align-items: center}


.distribute--orientation-vertical {
  flex-direction: column;
}

.align--alignment-topCenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .layout_s--orientation-vertical {
    flex-direction: column;
  }
}

.theme-dark {
  --c-background: var(--darkThemeBackground);
  --c-body: var(--darkThemeBodyColor);
}

.theme-dark .sectionTitle {
  color: white;
}

.theme-dark .logo-container svg path {
  fill: white;
}

.theme-dark .subsectionTitle {
  color: var(--c-grey-2);
}

.theme-dark code {
  background-color: var(--c-grey-8);
}

.githubButtonWrapper {
  position: relative;
  top: 2px;
}

.theme-dark .githubButtonWrapper {
  filter: invert(0.9);
}