:root {
  --unit: 8px;

  --spaceIncrement: 2;

  --space-s: var(--unit);
  --space-m: calc(var(--unit) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));
  --space-5xl: calc(var(--space-4xl) * var(--spaceIncrement));

  --spaceframe-s: var(--space-s);
  --spaceframe-m: var(--space-m);
  --spaceframe-l: var(--space-l);
  --spaceframe-xl: var(--space-xl);

  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --fontsize-xs: 12px;
  --lineheight-xs: calc(var(--unit) * 2);

  --fontsize-s: 16px;
  --lineheight-s: calc(var(--unit) * 3);

  --fontsize-m: 25px;
  --lineheight-m: calc(var(--unit) * 4);

  --fontsize-l: 34px;
  --lineheight-l: calc(var(--unit) * 5);

  --fontsize-xl: 48px;
  --lineheight-xl: calc(var(--unit) * 6);
  
  --fontWeight-400: 400;
  --fontWeight-700: 700;

  --lightnessIncrement: 1.3;

  --lightnessAmount-1: 93%;
  --lightnessAmount-2: calc(var(--lightnessAmount-1) / var(--lightnessIncrement));
  --lightnessAmount-3: calc(var(--lightnessAmount-2) / var(--lightnessIncrement));
  --lightnessAmount-4: calc(var(--lightnessAmount-3) / var(--lightnessIncrement));
  --lightnessAmount-5: calc(var(--lightnessAmount-4) / var(--lightnessIncrement));
  --lightnessAmount-6: calc(var(--lightnessAmount-5) / var(--lightnessIncrement));
  --lightnessAmount-7: calc(var(--lightnessAmount-6) / var(--lightnessIncrement));
  --lightnessAmount-8: calc(var(--lightnessAmount-7) / var(--lightnessIncrement));

  --c-grey-1: hsl(0, 0%, var(--lightnessAmount-1));
  --c-grey-2: hsl(0, 0%, var(--lightnessAmount-2));
  --c-grey-3: hsl(0, 0%, var(--lightnessAmount-3));
  --c-grey-4: hsl(0, 0%, var(--lightnessAmount-4));
  --c-grey-5: hsl(0, 0%, var(--lightnessAmount-5));
  --c-grey-6: hsl(0, 0%, var(--lightnessAmount-6));
  --c-grey-7: hsl(0, 0%, var(--lightnessAmount-7));
  --c-grey-8: hsl(0, 0%, var(--lightnessAmount-8));

  --c-body: var(--c-grey-8);
  --c-background: var(--c-grey-1);
  --c-primary: #668EC7;
}

.textSize-xs {
  font-size: var(--fontsize-xs);
  line-height: var(--lineheight-xs);
}

.textSize-s {
  font-size: var(--fontsize-s);
  line-height: var(--lineheight-s);
}

.textSize-m {
  font-size: var(--fontsize-m);
  line-height: var(--lineheight-m);
}

.textSize-l {
  font-size: var(--fontsize-l);
  line-height: var(--lineheight-l);
}

.textSize-xl {
  font-size: var(--fontsize-xl);
  line-height: var(--lineheight-xl);
}

.fontWeight-400 {
  font-weight: var(--fontWeight-400);
}

.fontWeight-700 {
  font-weight: var(--fontWeight-700);
}

.width-s {width: var(--space-s)}
.width-m {width: var(--space-m)}
.width-l {width: var(--space-l)}
.width-xl {width: var(--space-xl)}
.width-2xl {width: var(--space-2xl)}
.width-3xl {width: var(--space-3xl)}
.width-4xl {width: var(--space-4xl)}
.width-5xl {width: var(--space-5xl)}

.spaceframe-s {padding: var(--spaceframe-s)}
.spaceframe-m {padding: var(--spaceframe-m)}
.spaceframe-l {padding: var(--spaceframe-l)}
.spaceframe-xl {padding: var(--spaceframe-xl)}

.spacerRight-s {margin-right: var(--space-s)}
.spacerRight-m {margin-right: var(--space-m)}
.spacerRight-l {margin-right: var(--space-l)}
.spacerRight-xl {margin-right: var(--space-xl)}

.spacerLeft-s {margin-left: var(--space-s)}
.spacerLeft-m {margin-left: var(--space-m)}
.spacerLeft-l {margin-left: var(--space-l)}
.spacerLeft-xl {margin-left: var(--space-xl)}

.spacerTop-s {margin-top: var(--space-s)}
.spacerTop-m {margin-top: var(--space-m)}
.spacerTop-l {margin-top: var(--space-l)}
.spacerTop-xl {margin-top: var(--space-xl)}

.spacerBottom-s {margin-bottom: var(--space-s)}
.spacerBottom-m {margin-bottom: var(--space-m)}
.spacerBottom-l {margin-bottom: var(--space-l)}
.spacerBottom-xl {margin-bottom: var(--space-xl)}

.c-grey-1 {color: var(--c-grey-1)}
.c-grey-2 {color: var(--c-grey-2)}
.c-grey-3 {color: var(--c-grey-3)}
.c-grey-4 {color: var(--c-grey-4)}
.c-grey-5 {color: var(--c-grey-5)}
.c-grey-6 {color: var(--c-grey-6)}
.c-grey-7 {color: var(--c-grey-7)}
.c-grey-8 {color: var(--c-grey-8)}
.c-primary {color: var(--c-primary)}

.bg-grey-1 {background-color: var(--c-grey-1)}
.bg-grey-2 {background-color: var(--c-grey-2)}
.bg-grey-3 {background-color: var(--c-grey-3)}
.bg-grey-4 {background-color: var(--c-grey-4)}
.bg-grey-5 {background-color: var(--c-grey-5)}
.bg-grey-6 {background-color: var(--c-grey-6)}
.bg-grey-7 {background-color: var(--c-grey-7)}
.bg-grey-8 {background-color: var(--c-grey-8)}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontFamily);
  font-size: var(--fontsize-s);
  line-height: var(--lineheight-s);
  color: var(--c-body);
  background-color: var(--c-background);
  margin: unset;
}