:root {
	--bodyPadding: var(--space-xl);
	--shotsGap: var(--space-l);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: var(--bodyPadding);
	font-family: var(--fontFamily);
	font-size: var(--fontSize-s);
	line-height: var(--lineHeight-s);
	color: var(--c-grey-6);

	--fontFamily: 'Helvetica neue', sans-serif;
}

@media (max-width: 720px) {
	:root {
		--bodyPadding: var(--space-l);
		--shotsGap: var(--space-m);
	}
}

img {
	max-width: 100%;
	display: block;
}

.mainHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--space-xl);
}

.titleSection {
	font-weight: var(--fontWeight-700);
}

.menu {
	display: flex;	
}

.menuItem + .menuItem {
	margin-left: var(--shotsGap);
}

.shotSection {
	margin-bottom: var(--shotsGap);
}

.shotSection {
	display: flex;
}

.shotSection .shot + .shot {
	margin-left: var(--shotsGap);
}

.shotSection--scrollable {
	overflow: auto;
	margin-right: calc(var(--shotsGap) * -2);
	margin-left: calc(var(--shotsGap) * -2);
	padding-left: calc(var(--shotsGap) * 2);
}

.shotSection--scrollable .shot {
	flex-shrink: 0;
}

.shotSection--scrollable .shot:last-child {
	border-right: calc(var(--shotsGap) * 2) solid transparent;
}

@media (max-width: 720px) {
	.shotSection--scrollable .shot img {
		max-height: 20vh;
	}
}

.shotCaption {
	padding-bottom: var(--shotsGap);
	width: calc(50% - var(--shotsGap) / 2);
}

.shotsTrack .shotCaption {
	width: 30%;
	flex-shrink: 0;
	margin-right: var(--space-xl);
}

@media (max-width: 720px) {
	.shotCaption {
		width: 100%;
	}

	.shotsTrack .shotCaption {
		width: 60%;
	}
}

.shotsTrack {
	display: flex;
	align-items: flex-end;
}