:root {
  --c-body: black;
  --initialGreyLightness: 96%;

  --projectsColumnsAmount: 2;

  --bodyPadding: var(--space-xl);

  --projectContainerPadding: var(--space-l);

  --capsFontSize: var(--fontSize-xs);
  --capsLineHeight: var(--lineHeight-xs);
  --capsTextTransform: uppercase;
  --capsFontWeight: 700;
  --capsLetterSpacing: .1em;
}

@media (max-width: 720px) {
  :root {
    --projectsColumnsAmount: 1;
    --bodyPadding: 0;
    --projectBG: var(--c-grey-1);
  }
}

@media (min-width: 720px) {
  :root {
    --projectOnHoverBG: var(--c-grey-1);
    --bodyPadding: 0;
  }
} 

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontFamily);
  font-size: var(--fontSize-s);
  line-height: var(--lineHeight-s);
  margin: unset;
  padding: var(--bodyPadding);
  color: var(--c-body);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo-container svg path {
  fill: black;
}

.logo-container svg {
  height: 55px;
}

.mainHeader {
  padding: var(--space-xl) var(--projectContainerPadding);
  max-width: var(--space-5xl);
  margin: 0 auto;
}

.mainFooter {
  padding: var(--space-xl) var(--projectContainerPadding);
  max-width: var(--space-5xl);
  margin: 0 auto;
}

.footerLink {
  color: var(--c-grey-4);
}

.footerLink + .footerLink {
  margin-left: var(--space-m);
}

.button {
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: black;
  height: calc(var(--unit) * 5);
  padding: 0 calc(var(--space-m) - var(--capsLetterSpacing)) 0 var(--space-m);
  font-weight: inherit;
  color: var(--c-grey-1);
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  font-size: var(--capsFontSize);
  line-height: var(--capsLineHeight);
  text-transform: var(--capsTextTransform);
  font-weight: var(--capsFontWeight);
  letter-spacing: var(--capsLetterSpacing);
}

.preLogo {
  font-size: var(--capsFontSize);
  line-height: var(--capsLineHeight);
  text-transform: var(--capsTextTransform);
  font-weight: var(--capsFontWeight);
  letter-spacing: var(--capsLetterSpacing);
}

.preLogo {
  margin-bottom: var(--space-s);
}

.logoSection {
  display: flex;
}

.logoSection svg {
  position: relative;
  top: -1px;
}

.submitButton {
  margin-left: var(--space-s);
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(var(--projectsColumnsAmount), 1fr);
  max-width: var(--space-5xl);
  margin: 0 auto;
}

.projectContainer {
  padding: var(--projectContainerPadding);
  transition: background-color .3s;
  border-radius: 8px;
}

.projectContainer:nth-child(2n+1) {
  background-color: var(--projectBG);
}

.projectContainer:hover {
  background-color: var(--projectOnHoverBG);
  transition: background-color .1s;
}

.projectImage {
  border: 1px solid var(--c-grey-2);
}

.projectTitle {
  font-size: var(--fontSize-s);
  line-height: var(--lineHeight-s);
  margin: 0;
  font-weight: 400;
  margin-top: var(--space-s);
  color: var(--c-grey-4);
}