<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    
    <link rel="stylesheet" href="../../poco.css">
    <link rel="stylesheet" href="../../poco-utilities.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    
    <div class="textSize-m fontWeight-700 spacerBottom-m">Card</div>
    <div class="maxWidth-4xl">
      <div class="card">
        <div class="cardTitle">
          The studio‘s compilation series
        </div>
        <div class="cardContent">
          Sessions have included artists from Southern California and across the States such as the Bastard Sons of Johnny Cash, Whiskey Shivers, Mother Falcon, Jesca Hoop, and My Goodness. More recently we‘ve been working on new albums for Jack Lawtey, Jeremiah Tall, The Peach Kings, and Old Man Canyon. From the beginning the Lost Ark Studio has been more of a home studio than a typical ‚for hire‘ studio.
        </div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Button</div>
      
    <div class="textboXSection">
      <button class="button button--type-highlighted">Default</button>

      <button class="button">Default</button>

      <button class="button button--type-primary">Primary</button>

      <button class="button">Button with longer</button>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Switch</div>

    <div class="switchWrapper">
      <input id="switch-1" type="checkbox" class="switchInput" checked>
      <label for="switch-1" class="switchLabel">Switch</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="switchWrapper">
      <input id="switch-2" type="checkbox" class="switchInput" checked disabled>
      <label for="switch-2" class="switchLabel">Switch disabled</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="switchWrapper">
      <input id="switch-3" type="checkbox" class="switchInput" disabled>
      <label for="switch-3" class="switchLabel">Switch disabled</label>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Radio</div>

    <div class="radioWrapper">
      <input id="radio-1" type="radio" class="radioInput" name="radioDemo">
      <label for="radio-1" class="radioLabel">Checkbox</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="radioWrapper">
      <input id="radio-2" type="radio" class="radioInput" name="radioDemo">
      <label for="radio-2" class="radioLabel">Checkbox</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="radioWrapper">
      <input id="radio-3" type="radio" class="radioInput" name="radioDemo" checked disabled>
      <label for="radio-3" class="radioLabel">Checkbox</label>
    </div>
    
    <div class="spacerBottom-s"></div>
    
    <div class="radioWrapper">
      <input id="radio-4" type="radio" class="radioInput" name="radioDemo" disabled>
      <label for="radio-4" class="radioLabel">Some text</label>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Checkbox</div>

    <div class="checkboxWrapper">
      <input id="checkbox-1" type="checkbox" class="checkboxInput" checked>
      <label for="checkbox-1" class="checkboxLabel">Radio</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="checkboxWrapper">
      <input id="checkbox-2" type="checkbox" class="checkboxInput">
      <label for="checkbox-2" class="checkboxLabel">Radio</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="checkboxWrapper">
      <input id="checkbox-3" type="checkbox" class="checkboxInput" disabled checked>
      <label for="checkbox-3" class="checkboxLabel">Radio disabled</label>
    </div>

    <div class="spacerBottom-s"></div>

    <div class="checkboxWrapper">
      <input id="checkbox-4" type="checkbox" class="checkboxInput" disabled>
      <label for="checkbox-4" class="checkboxLabel">Radio disabled</label>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Field group</div>

    <div class="fieldsContainer">
      <div class="fieldGroup">
        <div class="fieldLabel">
          Name
        </div>
        <input type="text" value="Input" class="textInput">
      </div>
      <div class="fieldGroup">
        <div class="fieldLabel">
          Name
        </div>
        <input type="text" value="Input" class="textInput">
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Dialog</div>

    <div class="dialog">
      <div class="dialogHeader">
        <div class="dialogTitle">
          Wanna Banana?
        </div>
      </div>
      <div class="dialogBody">
        In some cases, they were only able to retrieve fragments of DNA; in other instances, they found enough material for an accurate reconstruction of the entire genome.
      </div>
      <div class="dialogFooter">
        <div class="dialogFooterButtons">
          <button class="button">Cancel</button>
          <button class="button button--type-primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="spacerBottom-l"></div>

    <div class="dialog">
      <div class="dialogHeader">
        <div class="dialogTitle">
          Wanna Banana?
        </div>
        <div class="dialogSubtitle">
          In some cases, they were only able to retrieve fragments of DNA; in other instances, they found enough material for an accurate reconstruction of the entire genome.
        </div>
      </div>
      
      <div class="dialogBody">
        <div class="fieldsContainer">
          <div class="fieldGroup">
            <div class="fieldLabel">
              Name
            </div>
            <input type="text" value="Input" class="textInput">
          </div>
          <div class="fieldGroup">
            <div class="fieldLabel">
              Name
            </div>
            <input type="text" value="Input" class="textInput">
          </div>
        </div>
      </div>

      <div class="dialogFooter">
        <div class="dialogFooterButtons">
          <button class="button">Cancel</button>
          <button class="button button--type-primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Table</div>

    <div class="table">
      <div class="tableRow">
        <div class="tableHeadCell tableHeadCell--width-xl">N</div>
        <div class="tableHeadCell">tableHeadCell</div>
        <div class="tableHeadCell tableHeadCell--width-3xl">tableHeadCell</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">1</div>
        <div class="tableCell">tableCell 2</div>
        <div class="tableCell">tableCell 2</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">1</div>
        <div class="tableCell">tableCell 2</div>
        <div class="tableCell">tableCell 2</div>
      </div>
    </div>
    
  </body>
</html>