<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">

    <link rel="stylesheet" href="../../poco.css">
    <link rel="stylesheet" href="../../poco-utilities.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    
    <div class="textSize-m fontWeight-700 spacerBottom-m">Card</div>
    <div class="maxWidth-5xl">
      <div class="card">
        <div class="cardTitle">
          The studio‘s compilation series
        </div>
        <div class="cardContent">
          Sessions have included artists from Southern California and across the States such as the Bastard Sons of Johnny Cash, Whiskey Shivers, Mother Falcon, Jesca Hoop, and My Goodness. More recently we‘ve been working on new albums for Jack Lawtey, Jeremiah Tall, The Peach Kings, and Old Man Canyon. From the beginning the Lost Ark Studio has been more of a home studio than a typical ‚for hire‘ studio. We designed it ourselves, we‘ve expanded it in response to what we‘ve learned through thousands of sessions and, regardless of who‘s recording with us, they are our guests, not clients. Add in that we have well over 200 vintage guitars, 100 vintage amps, and more than a few vintage keyboards, drum kits, snares, synths, etc. and it‘s not a bad place to call home!“
        </div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Button</div>
      
    <div class="textboXSection">
      <button>Default</button>

      <div class="spacerRight-s"></div>

      <button class="button--type-primary">Primary</button>

      <div class="spacerRight-s"></div>

      <input type="text" value="Input" class="textInput">
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Switch</div>

    <label class="switchLabel tabindex="0">
      <input type="checkbox" class="switchInput">
      <span class="switchKnob"></span>
      <span class="switchTrack"></span>
    </label>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Dialog</div>

    <div class="dialog">
      <div class="dialogHeader">
        <div class="dialogTitle">
          Dialog title
        </div>
      </div>
      <div class="dialogBody">
        Sessions have included artists from Southern California and across the States such as the Bastard Sons of Johnny Cash, Whiskey Shivers, Mother Falcon, Jesca Hoop, and My Goodness. More recently we‘ve been working on new albums for Jack Lawtey, Jeremiah Tall, The Peach Kings, and Old Man Canyon.
      </div>
      <div class="dialogFooter">
        <div class="dialogFooterButtons">
          <button>Cancel</button>
          <button class="button--type-primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Table</div>

    <div class="table">
      <div class="tableRow">
        <div class="tableHeadCell tableHeadCell--width-xl">N</div>
        <div class="tableHeadCell">tableHeadCell</div>
        <div class="tableHeadCell tableHeadCell--width-3xl">tableHeadCell</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">1</div>
        <div class="tableCell">tableCell 2</div>
        <div class="tableCell">tableCell 2</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">1</div>
        <div class="tableCell">tableCell 2</div>
        <div class="tableCell">tableCell 2</div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Distribute</div>
    
    <div class="spaceframe-m bg-grey-2 spacerBottom-m">
      <div class="distribute distribute--gap-m distribute--orientation-horizontal">
        <div class="height-xl width-xl bg-grey-3"></div>
        <div class="height-l width-xl bg-grey-3"></div>
        <div class="height-l width-l bg-grey-3"></div>
      </div>
    </div>

    <div class="spaceframe-m bg-grey-2">
      <div class="distribute distribute--gap-m distribute--orientation-vertical">
        <div class="height-xl width-xl bg-grey-3"></div>
        <div class="height-l width-xl bg-grey-3"></div>
        <div class="height-l width-l bg-grey-3"></div>
      </div>
    </div>

    <div class="textSize-m fontWeight-700 spacerBottom-l spacerTop-xl">Layout</div>
    
    <div class="spaceframe-m bg-grey-2">
      <div class="layout layout--gap-l spacerBottom-l">
        <div class="layoutItem layoutItem--width-3xl bg-grey-3">
          <div class="height-xl"></div>
        </div>

        <div class="layoutItem layoutItem--width-remaining bg-grey-3">
          <div class="height-xl"></div>
        </div>
      </div>

      <div class="layout layout--gap-l">
        <div class="layoutItem layoutItem--width-remaining bg-grey-3">
          <div class="height-xl"></div>
        </div>

        <div class="layoutItem layoutItem--width-remaining bg-grey-3">
          <div class="height-xl"></div>
        </div>

        <div class="layoutItem layoutItem--width-remaining bg-grey-3">
          <div class="height-xl"></div>
        </div>
      </div>
    </div>
    
  </body>
</html>